* {
  margin: 0;
  padding: 0;
}

body,
#root,
main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#d3tree {
  height: 88vh;
  width: 95vw;
}

#buttonContainer {
  width: 100%;
}

#generate {
  margin: 1vh auto 0 auto;
  display: block;
  background-color: orange;
  height: 5vh;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  box-shadow: 2px 2px 7px 2px rgb(150, 125, 80);
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: rgb(209, 136, 0);
    border: 1px solid rgb(192, 125, 0);
    box-shadow: 2px 2px 7px 2px rgb(139, 105, 41);
    font-size: 1.02em;
  }
  &:active {
    cursor: pointer;
    background-color: rgb(138, 90, 0);
    color: rgb(206, 134, 1);
    border: 1px solid #808080;
    box-shadow: 2px 2px 7px 2px #595959;
    font-size: 1.02em;
  }
}

#traversalButtonContainer {
  margin-bottom: 1vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .traversalButton {
    height: 5vh;
    font-size: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 7px 2px #808080;
    outline: none;
    font-weight: 800;
    &:hover:enabled {
      cursor: pointer;
      background-color: rgb(255, 187, 60);
      border: 1px solid rgb(192, 125, 0);
      box-shadow: 2px 2px 7px 2px #595959;
      font-size: 1.02em;
    }
    &:active:enabled {
      cursor: pointer;
      background-color: rgb(138, 90, 0);
      color: rgb(206, 134, 1);
      border: 1px solid #808080;
      box-shadow: 2px 2px 7px 2px #595959;
      font-size: 1.02em;
    }
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

.node circle {
  stroke: orange;
  stroke-width: 3px;
}

// .node_hidden {
//   display: none;
//   stroke: black;
//   stroke-width: 5px;
// }
$showNodes: false;

.hidden {
  @if $showNodes {
    display: none;
  }
}
@function toggle() {
  @if $showNodes {
    $showNodes: false;
  } @else {
    $showNodes: true;
  }
  @return $showNodes;
}

#toggleButton {
  &:active {
    @toggle();
  }
}

.node text {
  font: 2.5em sans-serif;
}

#traversedResult {
  list-style-type: none;
  width: 5vw;
  height: 88vh;
  text-align: center;
  background-color: orange;
  overflow-y: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    color: black;
    position: relative;
    font-size: 1.75em;
    padding-top: 4px;
  }
}

#treeArea {
  display: flex;
  flex-direction: row;
}

.disabled {
  background-color: purple;
}
